<div class="main-content">

        <div class="container-fluid">
                <div class="container">
                    <div class="card" >
                        <div class="card-header" data-background-color="orange">
                            <h4 class="title">Gram Sessions</h4>
                            <a (click)="toggleVapeTotal()"><p class="category">Show Vape Sessions</p></a>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th>Peripheral</th>
                                        <th>Date</th>
                                        <th>Start Time</th>
                                        <th>Duration</th>
                                        <th>Vape Pulses</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let session of sessions">
                                        <td>{{session.peripheral_id}}</td>
                                        <td>{{session.date | date}}</td>
                                        <td>{{session._created_at | date:'h:MM:ss a'}}</td>
                                        <td>{{session.total_mg | roundNumber}}</td>
                                        <td>{{session.vape_pulses | roundNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</div>
